<div class="banner">
  <div class="content">
    <h1 class="mb-5">Fresh Cooked Food <br />At Your Door</h1>
    <a class ="btn" routerLink="menu">ORDER NOW <i class="bi bi-arrow-right"></i></a>
  </div>
</div>

<div class="container mt-5 mb-4">
  <h2 class="text-center">How To Get <span>Fresh Food</span></h2>
  <div class="row">
    <div class="col-lg-4" *ngFor="let item of items">
      <div class="stepbox">
        <h2>{{ item.Id }}</h2>
        <p>{{ item.command }}</p>
      </div>
    </div>
  </div>
</div>


<!-- foodbox -->

<div class="container mt-4 mb-4">
  <h2 class="text-center">Customers' <span>Flavors</span></h2>
  <div class="row">
    <div class="col-lg-4 mt-3" *ngFor="let food of foodData">
      <div class="foodBox">
        <h3>{{food.foodCategory}}</h3>
        <img class="image-resize" src="{{food.foodImg}}" alt=""><br><br>
        <p>{{food.fooddetails}}</p>
        <a class ="btn" routerLink="{{food.foodsLink}}">See More</a>
      </div>
    </div>
  </div>
</div>
